<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar no Vai</title>
</head>
<body>
    <h1>Area do cadastro</h1>
    <div>
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/cadastro">Cadastrar</a>
        </nav>
    </div>

    <div>
        <h2>Cadastre-se</h2>
        <form method="POST" action="/cliente_novo">
            <div>
                <label for="nome">Nome: </label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div>
                <label for="email">Email: </label>
                <input type="text" name="email" id="email" required>
            </div>
            <div>
                <label for="senha">Senha: </label>
                <input type="password" name="senha" id="senha" required>
            </div>

            <button type="submit"> Cadastrar</button>
        </form>
    </div>
</body>
</html>