<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Vai</title>
</head>
<body>
    <!-- NavBar menuzinho de cima onde vai pra home(index) e para cadastro/login -->
    <div>
        <nav>
            <a href="/">Home</a>
        <!--    <a href="/login">Entrar</a> -->
            <a href="/cadastro">Cadastrar</a>
            <a href="/admin/login" style="margin-left: auto;">Admin</a>
        </nav>
    </div>

    <div class="chama_pagamento">
        <h2>Gere seu relatorio!</h2>
        <button>
            <a href="/escolher_relatorio">Escolher Relatório</a>
        </button>
    </div>
</body>
</html>