<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vai</title>
</head>
<body>
    <!-- NavBar menuzinho de cima onde vai pra home(index) e para cadastro/login -->
    <div>
        <nav>
            <a href="/">Home</a>
            <a href="/login">Entrar</a>
            <a href="/cadastro">Cadastrar</a>
        </nav>
    </div>

    <div class="chama_pagamento">
        <h2>Gere seu relatorio!</h2>
        <button>
            <a href="/pagamento">Pagamento</a>
        </button>
    </div>
</body>
</html>