<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login no Vai</title>
</head>
<body>
    <h1>Area de Login</h1>
    <div>
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/cadastro">Cadastrar</a>
        </nav>
    </div>

    <div class="form-container"> <h2>Entre</h2>

        <form method="POST" action="{{ url_for('main.cliente_entrar') }}">
            <div>
                <label for="email">Email: </label>
                <input type="text" name="cliente_email" id="email" required>
            </div>
            <div>
                <label for="senha">Senha: </label>
                <input type="password" name="cliente_senha" id="senha" required>
            </div>

                <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>