<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
</head>
<body>
    <div>
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/cadastro">Cadastrar</a>
        </nav>
    </div>

    <div>
        <h2>Obrigado por fazer o pagamento!</h2>
        <p>
            Agora voce pode fazer sua conta
        </p>

        <button>
            <a href="/cadastro">Criar Conta</a>
        </button>
    </div>
</body>
</html>