<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vai | Scanner</title>
</head>
<body>
    <h1>Escaneamento de Site</h1>
    <p>Insira a URL do site que deseja escanear</p>

    <form id="scanner" action="/scan" method="POST">
        <label for="site-url">URL do site:</label><br>
        <input type="url" id="url" name="url" placeholder="https://www.exemplo.com" required><br><br>
        <button type="submit">Iniciar análise</button>
    </form>
</body>
</html>


