<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Visualizar Relatório - Vai</title>
</head>
<body>
    <div>
        <nav>
            <a href="/">Home</a>
       <!--    <a href="/scaner">Scanner</a> -->
            <a href="/minha_conta">Minha Conta</a>
            <a href="{{ url_for('main.relatorios_recentes') }}">Voltar para Lista</a>
        </nav>
    </div>

    <div class="card-conteudo"> <h1>Detalhes do Relatório {{ tipo.title() }}</h1>
        
    <!--    <a href="{{ url_for('main.download_relatorio', relatorio_id=relatorio.id, tipo=tipo) }}" 
        class="btn-submit" style="width: auto; padding: 1rem 2rem;">
        Baixar PDF
        </a>  -->

        <div class="conteudo-tecnico">
            <pre>{{ relatorio.conteudo }}</pre>
        </div>
    </div>
            
    </div>
</body>
</html>